# Question No. 1:
Write a code to print the data present in the second row of the dataframe, df.

## Answer

In [1]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [2]:
df.loc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

# Question No.2:
What is the difference between the functions loc and iloc in pandas.DataFrame?

## Answer:
**loc** is a label-based indexing method that is used to access rows and columns by labels or boolean arrays. The syntax of the loc method is df.loc[row_labels, column_labels]. Here, row_labels and column_labels refer to the row and column labels, respectively. loc returns a DataFrame that matches the specified labels.

**iloc** on the other hand, is an integer-based indexing method that is used to access rows and columns by integer position. The syntax of the iloc method is df.iloc[row_positions, column_positions]. Here, row_positions and column_positions refer to the integer positions of the rows and columns, respectively. iloc returns a DataFrame that matches the specified integer positions.

# Question No. 3:
Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

## Answer:

In [3]:
reindex = [3,0,1,2]

new_df = df.reindex(reindex)
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [4]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [5]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Yes, there is a difference in the outputs of new_df.loc[2] and new_df.iloc[2].

**new_df.loc:** Since the index of new_df is now [3, 0, 1, 2], new_df.loc[] will print the row at the label 2 in the index.

**new_df.iloc:** new_df.iloc[2] returns the row that has the integer position 2 in the index.

# Question No. 4:
Write a code to find the following statistical measurements for the above dataframe df1:<br>
(i) mean of each and every column present in the dataframe.<br>
(ii) standard deviation of column, ‘column_2’

## Answer:

In [6]:
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.977700  0.682083  0.917303  0.670403  0.299881  0.202563
2  0.840326  0.129802  0.173203  0.014915  0.752502  0.836004
3  0.874632  0.617794  0.731600  0.936841  0.765703  0.719296
4  0.102869  0.097529  0.389893  0.385760  0.468859  0.855609
5  0.596031  0.821129  0.159244  0.222478  0.364609  0.900032
6  0.921575  0.591236  0.085327  0.284620  0.263321  0.775897

In [7]:
means=[]

for each_col in list(df1.columns):
    means.append(df1[each_col].mean())

print(f"Mean of each column: {means}")
print(f"Standard Deviation of column_2: {df1['column_2'].std()}")

Mean of each column: [0.7188554980260035, 0.4899287972646395, 0.4094283073959592, 0.41916948454176434, 0.4858127219961215, 0.7149001421796065]
Standard Deviation of column_2: 0.30229054276023154

# Question No. 5:
Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.<br>
If you are getting errors in executing it then explain why.<br>
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

## Answer:

In [8]:
df1['column_2'].loc[2]='new_val'

In [9]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.977700  0.682083  0.917303  0.670403  0.299881  0.202563
2  0.840326   new_val  0.173203  0.014915  0.752502  0.836004
3  0.874632  0.617794  0.731600  0.936841  0.765703  0.719296
4  0.102869  0.097529  0.389893  0.385760  0.468859  0.855609
5  0.596031  0.821129  0.159244  0.222478  0.364609  0.900032
6  0.921575  0.591236  0.085327  0.284620  0.263321  0.775897

In [10]:
df1['column_2'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

**The error is generated because one of the elements in the column is non-numeric (string), and while finding the mean the program is trying to add that string value to the numeric value of the column, which is not possible**

# Question No. 6:
What do you understand about the windows function in pandas and list the types of windows
functions?

## Answer:
In pandas, a window function is a way to apply a calculation to a specific subset of data, called a "window," that moves through the dataset. This allows for calculations to be made on a rolling or expanding basis, depending on the type of window function used.

The types of window functions available in pandas can be broadly classified into the following categories:

1. **Rolling functions:** These functions compute a rolling statistic over a defined window size. Examples include rolling mean, rolling sum, rolling standard deviation, etc.

2. **Expanding functions:** These functions compute a cumulative statistic over the entire dataset up to the current point. Examples include expanding sum, expanding mean, etc.

3. **Exponentially weighted functions:** These functions compute a rolling statistic with weights that decay exponentially as the distance from the current point increases. Examples include exponentially weighted mean, exponentially weighted standard deviation, etc.

4. **Cumulative functions:** These functions compute a cumulative statistic over the entire dataset up to the current point. Examples include cumsum, cummax, cummin, etc.

5. **Aggregating functions:** These functions perform a groupby-style operation on a rolling or expanding window. Examples include groupby.mean(), groupby.sum(), etc.

In [ ]:
data_dict = {
    'current_date':['2023-02-26']
}

df = pd.DataFrame(data_dict)
df

  current_date
0   2023-02-26

In [ ]:
df['current_date']=pd.to_datetime(df['current_date'])

In [13]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [ ]:
df['current_date'].dt.month

0    2
Name: current_date, dtype: int64

In [ ]:
df['current_date'].dt.year

0    2023
Name: current_date, dtype: int64

# Question No. 8:
Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [ ]:
start_date = input("Enter first date: ")
end_date = input("Enter second date: ")

days_in_between = pd.date_range(start = start_date, end = end_date)
difference = len(days_in_between)

print(f'The difference between the first date and second date is {difference} days')

#First date entered: 2022-01-01
#Second date entered: 2022-02-01

Enter first date:  2022-01-01
Enter second date:  2022-02-01

The difference between the first date and second date is 32 days

# Question No. 9:
Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

## Answer:

In [ ]:
df= pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [ ]:
filepath = input('Enter the filepath: ')
column = input('Enter the column name: ')
order = input('Enter category order: ')

df = pd.read_csv(filepath)

df[column].astype('category')

if order=='ascending':
    df=df.sort_values(by = column, ascending= True)
elif order=='descending':
    df=df.sort_values(by = column, ascending= False)

df

#entered filepath: https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv
#entered column: Pclass
#entered order: ascending

Enter the filepath:  https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv
Enter the column name:  Pclass
Enter category order:  ascending

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
445,446,1,1,"Dodge, Master. Washington",male,4.0,0,2,33638,81.8583,A34,S
310,311,1,1,"Hays, Miss. Margaret Bechstein",female,24.0,0,0,11767,83.1583,C54,C
309,310,1,1,"Francatelli, Miss. Laura Mabel",female,30.0,0,0,PC 17485,56.9292,E36,C
307,308,1,1,"Penasco y Castellana, Mrs. Victor de Satode (M...",female,17.0,1,0,PC 17758,108.9000,C65,C
306,307,1,1,"Fleming, Miss. Margaret",female,NaN,0,0,17421,110.8833,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...,...
379,380,0,3,"Gustafsson, Mr. Karl Gideon",male,19.0,0,0,347069,7.7750,NaN,S
381,382,1,3,"Nakid, Miss. Maria (""Mary"")",female,1.0,0,2,2653,15.7417,NaN,C
382,383,0,3,"Tikkanen, Mr. Juho",male,32.0,0,0,STON/O 2. 3101293,7.9250,NaN,S
371,372,0,3,"Wiklund, Mr. Jakob Alfred",male,18.0,1,0,3101267,6.4958,NaN,S
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

# Question No. 10:
Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

## Answer:

In [14]:
filepath = input('Enter filepath: ')

df = pd.read_csv(filepath)
df['Date'] = pd.to_datetime(df['Date'])
grouped = df.groupby(['Product', 'Date']).sum()

print(grouped)
pivot = grouped.unstack(level=0)
pivot.plot(kind='bar', stacked=True)

#entered filepath: Product_sales.csv

FileNotFoundError: [Errno 2] No such file or directory: 'Product_sales.csv'

# Question No. 11:
You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.

The program should do the following: 
1. Prompt the user to enter the file path of the CSV file containing the student data
2. Read the CSV file into a Pandas DataFrame
3. Calculate the mean, median, and mode of the test scores using Pandas toolsR
4. Display the mean, median, and mode in a table.

## Answer:
**Method 1:**

In [ ]:
import pandas as pd
filepath = input('Enter Filepath: ')

df = pd.read_csv(filepath)

mean = df['Test_Score'].mean()
median = df['Test_Score'].median()
mode = df['Test_Score'].mode()

print("+----------+----------+")
print("Statistic | Value")
print(f"Mean:    {mean}")
print(f"Median:    {median}")
print(f"Mode:    {mode}")
print("+----------+----------+")

#entered fiepath: students_data.csv

Enter Filepath:  students_data.csv

+----------+----------+
Statistic | Value
Mean:    83.5
Median:    85.0
Mode:    0    85
Name: Test_Score, dtype: int64
+----------+----------+

**Method 2:**

In [ ]:
import pandas as pd
filepath = input('Enter Filepath: ')

df = pd.read_csv(filepath)
df2 = pd.DataFrame(
    [['Mean', df['Test_Score'].mean()],
    ['Median', df['Test_Score'].median()],
    ['Mode', df['Test_Score'].mode()]]
)
df2.columns = ['Statistic', 'Value']
df2

#entered fiepath: students_data.csv

Enter Filepath:  students_data.csv

  Statistic                                   Value
0      Mean                                    83.5
1    Median                                    85.0
2      Mode  0    85
Name: Test_Score, dtype: int64